@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
$primary-color: #686de0;
body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
}
header{
    background-color: $primary-color;
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            color: white;
            font-weight: bold;
        }
        ul{
            margin-right: 15px;
            li{
                display: inline-block;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
        }
    }
    
}

footer{
    background-color: $primary-color;
    padding: 15px 0;
    text-align: center;
    .copyright{
       
        color: white;
        font-size: 16px;
    }
}


#main{
    .about{
        h1{
            color: $primary-color;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }

    .categories{
        margin: 50px 0;
        .content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                background-color: #ecf0f1;
                padding: 25px 30px;
                display: inline-block;
                border-radius: 5px;
                a{
                    color: $primary-color;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }

    .news{
        margin-bottom: 50px;
        .news-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                padding: 15px;
                .img{
                    padding-top: 250px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .content{
                    h2{
                        margin: 10px 0;
                        color: $primary-color;
                    }
                    a{
                        text-decoration: none;
                        background-color: $primary-color;
                        padding: 5px 15px;
                        display: inline-block;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}