@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

@import '_variables';
@import '_mixins';

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}

header{
    padding: 45px 15px;
    background: #f6f7f8;
    .row{
        @include flex-box();
    }

    .logo{
        @include font-bold(36px);
        color: $black-color;
    }

    nav{
        ul{
            li{
                display: inline-block;
                a{
                    color: $black-color;
                    @include font-regular(15px);
                    text-decoration: none;
                    display: inline-block;
                    padding-bottom: 10px;
                    margin: 0 17px;

                    &.active{
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                    }

                    &:hover{
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                    }
                }
            }
        }
    }
    .button-container{
        button {
            @extend %button-seconday;
            font-weight: 600;
            @include flex-box();

            svg{
                margin-right: 5px;
                width: 15px;
                fill: $primary-color;
            }

            &:hover{
                background-color: $primary-color;
                color: $color-white;
                cursor: pointer;

                svg{
                    fill: $color-white;
                }
            }
        }
    }
}


#intro{
    background: #f6f7f8;

    .intro-content{
        @include flex-box(start);

        .content{
            margin-top: 140px;
            padding-right: 150px;

            span{
                color: $primary-color;
                @include font-regular(14px);
                margin-bottom: 20px;
                display: inline-block;
                position: relative;
                padding-left: 30px;

                &:before{
                    content: '';
                    position: absolute;
                    background-color: $primary-color;
                    width: 25px;
                    height: 1px;
                    left: 0;
                    top: 37%;
                }
            }

            h1{
                @include font-semi-bold(52px);
                color: $black-color;
                margin-bottom: 25px;
            }

            p{
                color: $black-color2;
                @include font-regular();
            }
       }

       .img{
           img{
               width: 550px;
           }
       }
    }
}

footer{
    background-color: $primary-color;
    padding: 15px 0;
    text-align: center;
    .copyright{
       
        color: white;
        font-size: 16px;
    }
}

.row-box{
    width: 100%;
    height: 2px;
    background-color: $primary-color;
}

.categories-page{
    margin: 50px 0;
    .content{
        display: flex;
        flex-wrap: wrap;
        .item{
            text-align: center;
            flex: 1 0 45%;
            margin: 15px;
            display: inline-block;
            border-radius: 5px;
            box-shadow: 0px 0px 9px 6px rgba(227,227,227,0.53);
            -webkit-box-shadow: 0px 0px 9px 6px rgba(227,227,227,0.53);
            -moz-box-shadow: 0px 0px 9px 6px rgba(227,227,227,0.53);
            a{
                color: $primary-color;
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
                padding: 30px;
            }
        }
    }
}

.news-page{
    margin: 50px 0;
    .row{
        display: flex;
        justify-content: space-between;
    }
    .filter{
        width: 30%;
        .filter-box{
            border: 1px solid #ff530059;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            div{
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                input[type="checkbox"]{
                    margin-right: 5px;
                }
            }
            input[type="text"]{
                width: 100%;
                padding: 10px 15px;
                border-radius: 10px;
                border: 1px solid #ecf0f1;
                background: white;
            }
            
        }
        .filter-box-button{
            text-align: center;
            button{
                @extend %button-seconday;
                border: 1px solid #ff530059;
                width: 100%;
                cursor: pointer;
                border-radius: 10px;
            }
        }
    }
    .news-items{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        .item{
            flex: 1 0 30%;
            width: 30%;
            margin: 15px;
            .img{
                padding-top: 250px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 5px;
            }
            .content{
                h2{
                    margin: 15px 0;
                    color: $primary-color;
                    @include font-regular(22px);
                }
                p{
                    @include font-regular();
                    margin-bottom: 15px;
                }
                a{
                    text-decoration: none;
                    background-color: $primary-color;
                    padding: 5px 15px;
                    display: inline-block;
                    color: white;
                    border-radius: 5px;
                    @include font-regular();
                }
            }
        }
    }
}

.about-page{
    margin: 50px 0;
    h1{
        @include font-semi-bold(35px);
        color: $primary-color;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        @include font-regular(16px);
        text-align: center;
    }
}

#main{
    margin-top: 50px;
    .about{
        margin-bottom: 50px;
        h1{
            @include font-semi-bold(35px);
            color: $primary-color;
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            @include font-regular(16px);
            text-align: center;

            a{
                color: $primary-color;
            }
        }
    }

    .categories{
        margin: 100px 0;
        .content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                display: inline-block;
                border-radius: 5px;
                box-shadow: 0px 0px 9px 6px rgba(227,227,227,0.53);
                -webkit-box-shadow: 0px 0px 9px 6px rgba(227,227,227,0.53);
                -moz-box-shadow: 0px 0px 9px 6px rgba(227,227,227,0.53);
                a{
                    color: $primary-color;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    padding: 25px 30px;
                }
            }
        }
    }

    .news{
        margin-bottom: 100px;
        .header{
            text-align: center;
            margin-bottom: 30px;
            h2{
                @include font-semi-bold(35px);
                color: $primary-color;
            }
            a{
                color: $black-color2;
                text-decoration: none;
                display: inline-block;
                margin-top: 15px;
            }
        }
        .news-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                width: 30%;
                .img{
                    padding-top: 250px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 5px;
                }
                .content{
                    h2{
                        margin: 15px 0;
                        color: $primary-color;
                        @include font-regular(22px);
                    }
                    p{
                        @include font-regular();
                        margin-bottom: 15px;
                    }
                    a{
                        text-decoration: none;
                        background-color: $primary-color;
                        padding: 5px 15px;
                        display: inline-block;
                        color: white;
                        border-radius: 5px;
                        @include font-regular();
                    }
                }
            }
        }
    }
}