@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

$primary-color: #2c3e50;
$red: #e74c3c;
$color: #01a3a4;

%input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ecf0f1;
    background: white;
}
%primary-button{
    background-color: $primary-color;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}

body{
    background-color: #ecf0f1;
}

.login{
    form{
        margin-top: 150px;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        .form-group{
            margin-bottom: 15px;
        }
        label{
            display: block;
            margin-bottom: 5px
        }
        input{
            @extend %input;
        }
        button{
            @extend %primary-button;
        }
        .error-text{
            color: $red;
        }
    }
}

header{
    background-color: $color;
    padding: 30px 0;
    .content{
        display: flex;
        align-items: center;
        justify-content: end;
        .logo{
            color: white;
            font-weight: bold;
        }
        ul{
            margin-right: 15px;
            li{
                display: inline-block;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
        }
    }
    
}
